<%- include('components/head') %>
<%- include('components/nav_1') %>
<%- include('components/nav_2') %>
<div class="container">
  <%- include('components/notification') %>
  <div class="" style="margin-top:15px;margin-bottom:20px;">
    <h3 style="color:#007bff;">すべての投稿</h3>
  </div>
</div>
<div class="container" style="margin-top:15px;margin-bottom:20px;">
  <% posts.forEach(function (post) { %>
  <%- include('components/index_content', { post: post }) %>
  <% }) %>
  <% if(posts == ''){%>
  <h3>投稿なし</h3>
  <% } %>
</div>
<%- include('components/footer') %>
